ft.vex.pimod/dtd/modtypes.ent

<?xml encoding="iso-8859-1"?>
<!-- *********************************************************************** 

PI-Mod 1.0

Copyright (c) 2009, The PI-Mod Project

Contributors to the The PI-Mod Project (1.0):
W. Ziegler, T. Rickmann, N. Messaoudi, S. Steurer, F. Ully, K. Schrempp

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

Name: 	modtypes.ent
Public Identifier: "-//PI-MOD//DTD ModTypes//EN"                               

*********************************************************************    -->

<!ENTITY % attributes PUBLIC "-//PI-MOD//DTD Attributes//EN" "attributes.ent">
%attributes;

<!-- definition of information classes  *******************************      -->
<!ELEMENT descriptive (heading, orientation?, descriptive_body?, descriptive*)>
<!ATTLIST descriptive
	%classification;
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT descriptive_body %graphtext;>
<!ATTLIST descriptive_body
	%nid;
					%validfor;
					%translate; 
>
<!ELEMENT diagnosis (heading, orientation?, diagnosis_body?, diagnosis*)>
<!ATTLIST diagnosis
	%classification;
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT diagnosis_body (table | errordescription+)>
<!ATTLIST diagnosis_body
	%nid;
	%translate; 
>
<!ELEMENT glossary (heading, orientation?, glossary_body?, glossary*)>
<!ATTLIST glossary
	%classification;
	%nid;
    %validfor;
    %translate; 
>
<!ELEMENT glossary_body (glossary-entry+)>
<!ATTLIST glossary_body
	%nid;
					%validfor;
					%translate; 
>
<!ELEMENT lubrication (heading, orientation?, lubrication_body?, lubrication*)>
<!ATTLIST lubrication
	%classification;
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT lubrication_body (table | lubricant+)>
<!ATTLIST lubrication_body
	%nid;
					%validfor;
					%translate; 
>
<!ELEMENT task (heading, taskinterval*, orientation?, shortinfo?, prerequisites?, task_body?, task*)>
<!ATTLIST task
	%classification;
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT task_body (((actiondescription | safetyadvice)*, action, or-action*, result?, troubleshooting*, note*)+, actionsequenceend?, outlook?)>
<!ATTLIST task_body
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT taskintervals (heading, orientation?, taskintervals_body?, taskintervals*)>
<!ATTLIST taskintervals
	%classification;
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT taskintervals_body (table | taskinterval+)>
<!ATTLIST taskintervals_body
	%nid;
					%validfor;
					%translate; 
>
<!ELEMENT tools (heading, orientation?, tools_body?, tools*)>
<!ATTLIST tools
	%classification;
	%nid;
	%validfor;
	%translate; 
>
<!ELEMENT tools_body (table)>
<!ATTLIST tools_body
	%nid; 
					%validfor;
					%translate; 
>
<!--
<!ELEMENT tool (%graphtext;)+>
<!ATTLIST tool
	%tools4task;
	%nid; 
	%translate;>
-->
<!-- *********************************************************               -->
